<form class="card p-3" [formGroup]="accountForm" style="width:50%; margin: 0 auto; margin-top: 200px">
  <h3 class="text-center">Account settings</h3>
  <span style="color:red; text-align:center" [hidden]="error == null">{{error}}</span>
  <div class="form-group">
    <label>Change password</label>
    <input type="password" formControlName="password" class="form-control" placeholder="Enter new password" required>
  </div>
  <button type="button" style="width:100%" [disabled]="!accountForm.get('password').valid" class="btn btn-primary">Change password</button>
</form>
