<div>
  <h3 class="text-center">Genre management</h3>
  <div class="card p-3" style="display:inline; width:60%; float:left">
    <h4>Genres list</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Genre</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let genre of this.genres">
          <td>{{ genre.name }}</td>
          <td><button (click)="onDeleteGenre(genre.genreId)" class="btn btn-danger">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <form class="card p-3" [formGroup]="form" style="display:inline; width:40%; float:right">
    <h3 class="text-center">Add genre</h3>
    <span style="color:red; text-align:center" [hidden]="error == null">{{error}}</span>
    <span style=" text-align:center" [hidden]="message == null">{{message}}</span>
    <div class="form-group">
      <input type="text" style="width:50%; display:inline; margin-left:5px; margin-right:5px" formControlName="name" class="form-control" placeholder="Enter new genre name" required>
      <button type="button" style="display:inline" (click)="onAddGenre()" [disabled]="!form.get('name').valid" class="btn btn-primary">Add</button>
    </div>
  </form>
</div>

