<div class="card p-3">
  <div style="display: flex; flex:1 1 auto">
    <div class="img-square-wrapper">
      <img src="https://via.placeholder.com/150" height="300" alt="Card image cap">
    </div>
    <div class="card-body">
      <div>
        <h4 class="card-title" style="display:inline">Game name</h4>
        <a style="display: inline; float:right">Average rating: x based on y votes</a>
      </div>
      <div style="margin-top:5px">
        <h6 style="" class="card-subtitle mb-2 text-muted">Developer:</h6>
        <p>Description: </p>
        <p>Price: 29.99$</p>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <p style="display:inline; vertical-align:middle">Genres: Fantasy, RPG, Shooter</p>
    <button type="button" style="float:right" class="btn btn-success text-right">Add to cart</button>
  </div>
</div>
