<form class="card p-3" [formGroup]="form" (ngSubmit)="onSubmit()" style="display: inline; width:70%; float: left" enctype="multipart/form-data">
  <h3 class="text-center">{{'admin.updateGame' | translate}}</h3>
  <div class="form-group">
    <img *ngIf="game?.image != null" [src]="['data:image/png;base64',game?.image]" style="width:100%; margin-bottom:10px" />
    <input type="file" id="file" (change)="handleFileInput($event.target.files)">
  </div>
  <div class="form-group">
    <label>{{'admin.gameName' | translate}}</label>
    <input type="text" formControlName="name" class="form-control" placeholder="{{'admin.gameNamePlaceholder' | translate}}" [ngModel]="game?.name" required>
  </div>
  <div class="form-group">
    <label>{{'admin.developer' | translate}}</label>
    <input type="text" formControlName="developer" class="form-control" placeholder="{{'admin.developerPlaceholder' | translate}}" [ngModel]="game?.developer" required>
  </div>
  <div class="form-group">
    <label>{{'admin.description' | translate}}</label>
    <textarea *ngIf="game != null" type="text" rows="10" formControlName="description" class="form-control" placeholder="{{'admin.descriptionPlaceholder' | translate}}" [(ngModel)]="game.description" required></textarea>
  </div>
  <div class="form-group">
    <label>{{'admin.price' | translate}}</label>
    <input type="number" formControlName="price" class="form-control" placeholder="{{'admin.pricePlaceholder' | translate}}" [ngModel]="game?.price" required>
  </div>
  <div style="float:none">
    <span style="color:red" class="text-center" [hidden]="error == null">{{error | translate}}</span>
    <span class="text-center" >{{'success' | translate}}</span>
  </div>
  <button type="submit" style="width:100%; margin-top:10px" [disabled]="!form.valid" class="btn btn-primary">{{'admin.updateGame' | translate}}</button>
</form>

<div class="card p-3" style="display:inline; width:28%; float:right">
  <h4 class="text-center">{{'admin.genresList' | translate}}</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" >{{'genre' | translate}}</th>
        <th scope="col" >{{'action' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let genre of this.game?.gameGenres">
        <td>{{ genre.genre.name }}</td>
        <td><button (click)="onDeleteGameGenre(game?.gameId, genre.genre?.genreId)" class="btn btn-danger">{{'delete' | translate}}</button></td>
      </tr>
    </tbody>
  </table>
  <form class="card p-3" [formGroup]="formGenre">
    <h3 class="text-center">{{'admin.addGenre' | translate}}</h3>
    <span style="color:red; text-align:center" [hidden]="error == null">{{error | translate}}</span>
    <div class="form-group">
      <select class="form-select" formControlName="selectedGenre" aria-label="Default select example" style="width:50%; float:left">
        <option *ngFor="let genre of leftoverGenres" [value]="genre.genreId">{{genre.name}}</option>
      </select>
      <button type="button" style="display:inline; width:40%; float:right" (click)="onAddGameGenre(game?.gameId, formGenre.get('selectedGenre').value)" [disabled]="game?.gameId == 0 || formGenre.get('selectedGenre').invalid" class="btn btn-primary">{{'add' | translate}}</button>
    </div>
  </form>
</div>
