<form class="card p-3" [formGroup]="form" (ngSubmit)="onSubmit()" style="display: inline; width:70%; float: left" enctype="multipart/form-data">
  <h3 class="text-center" i18n="Update game">Update game</h3>
  <span style="color:red" class="text-center" [hidden]="error == null" i18n="Invalid data">{{error}}</span>
  <span class="text-center" [hidden]="message == null" i18n="Success">{{message}}</span>

  <div class="form-group">
    <img *ngIf="game != null"  [src]="['data:image/png;base64',game?.image]" style="width:100%; margin-bottom:10px" />
    <input type="file" id="file" (change)="handleFileInput($event.target.files)">
  </div>
  <div class="form-group">
    <label i18n="Game name">Name</label>
    <input type="text" formControlName="name" class="form-control" [ngModel]="game?.name" required>
  </div>
  <div class="form-group">
    <label i18n="Developer">Developer</label>
    <input type="text" formControlName="developer" class="form-control" [ngModel]="game?.developer" required>
  </div>
  <div class="form-group">
    <label i18n="Description">Description</label>
    <textarea *ngIf="game != null" type="text" rows="10" formControlName="description" class="form-control" [(ngModel)]="game.description" required></textarea>
  </div>
  <div class="form-group">
    <label i18n="Price">Price</label>
    <input type="number" formControlName="price" class="form-control" [ngModel]="game?.price" required>
  </div>
  <button type="submit" style="width:100%; margin-top:10px" [disabled]="!form.valid" class="btn btn-primary" i18n="Update game">Update</button>
</form>

<div class="card p-3" style="display:inline; width:28%; float:right">
  <h4 class="text-center" i18n="Genres list">Genres list</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" i18n="Genre">Genre</th>
        <th scope="col" i18n="Action">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let genre of this.game?.gameGenres">
        <td>{{ genre.genre.name }}</td>
        <td><button (click)="onDeleteGameGenre(game?.gameId, genre.genre?.genreId)" class="btn btn-danger" i18n="Delete">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <form class="card p-3" [formGroup]="formGenre">
    <h3 class="text-center" i18n="Add genre">Add genre</h3>
    <span style="color:red; text-align:center" [hidden]="error == null" i18n="Error occured">{{error}}</span>
    <div class="form-group">
      <select class="form-select" formControlName="selectedGenre" aria-label="Default select example" style="width:50%; float:left">
        <option *ngFor="let genre of leftoverGenres" [value]="genre.genreId">{{genre.name}}</option>
      </select>
      <button type="button" style="display:inline; width:40%; float:right" (click)="onAddGameGenre(game?.gameId, formGenre.get('selectedGenre').value)" [disabled]="game?.gameId == 0 || formGenre.get('selectedGenre').invalid" class="btn btn-primary" i18n="Add">Add</button>
    </div>
  </form>
</div>
