<div class="card p-3">
  <div style="display: flex; flex:1 1 auto">
    <div class="img-square-wrapper">
      <img [src]="['data:image/png;base64',game.image]" width="500" alt="Card image cap">
    </div>
    <div class="card-body">
      <div>
        <h4 class="card-title" style="display:inline">{{ game.name }}</h4>
        <label style="display: inline; float:right" *ngIf="game.reviewCount == 0" i18n="Not rated yet">Not rated yet</label>
        <a style="display: inline; float:right" *ngIf="game.reviewCount != 0" [routerLink]="['/reviews',game.gameId]" i18n>{{ game.rating }}/10 : {{ game.reviewCount }}</a>
      </div>
      <div style="margin-top:5px">
        <h6 style="" class="card-subtitle mb-2 text-muted">{{game.developer}}</h6>
        <p>{{game.description}} </p>
        <h6 style="float:right">{{ game.price }}$</h6>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <p style="display:inline;" *ngFor="let genre of game.gameGenres; let isLast=last">{{genre.genre.name}}{{isLast ? '' : ', '}}</p>
    <button type="button" style="float:right" class="btn btn-success" [disabled]="addedToCart" (click)="onAddToCart(game.gameId)" i18n="To cart">Add to cart</button>
    <a style="float:right; margin-right:10px" [routerLink]="['/update-game',game.gameId]" class="btn btn-warning" *ngIf="dataService.authService.currentUser?.roleId == 1" i18n="Edit">Edit</a>
    <span style="color:red; float:right; margin-top:7px; margin-right:5px" [hidden]="error == null" i18n="Item already in cart or owned">{{error}}</span>
  </div>
</div>
