<div class="card p-3">
  <div style="display: flex; flex:1 1 auto">
    <div class="img-square-wrapper">
      <img [src]="['data:image/png;base64',ownership.game.image]" width="500" alt="Card image cap">
    </div>
    <div class="card-body">
      <div>
        <h4 class="card-title" style="display:inline">{{ ownership.game.name }}</h4>
        <label style="display: inline; float:right">{{'game.ownershipDate' | translate}} {{ownership.date | date:'dd/MM/yyyy'}}</label>
      </div>
      <div style="margin-top:5px">
        <h6 style="" class="card-subtitle mb-2 text-muted">{{ownership.game.developer}}</h6>
        <p>{{ownership.game.description}} </p>
        <h6 style="float:right">{{'game.boughtFor' | translate}} {{ownership.price }}$</h6>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <p style="display:inline;" *ngFor="let genre of ownership.game.gameGenres; let isLast=last">{{genre.genre.name}}{{isLast ? '' : ', '}}</p>
    <button type="button" style="float:right" class="btn btn-success" [routerLink]="['/update-review',ownership.ownershipId]">{{'game.updateReview' | translate}}</button>
  </div>
</div>
